/* start global rules */
:root {
  --bg-color: #202020;
  --box-color: #343434;
  --box-shadow: #202020;
  --main-color: #0c63a7;
  --text-color: #9e9e9e;
  --title-color: white;
  --section-padding: 150px;
  --transition: 0.3s ease-in-out;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--bg-color);
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  padding: 0;
  outline: none;
  border: 0;
  background-color: transparent;
}
a {
  text-decoration: none;
}
button {
  border: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.hidden {
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
h2.main-title {
  text-align: center;
  letter-spacing: 4px;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
  position: relative;
  color: var(--title-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
@media (max-width: 767px) {
  h2.main-title {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  h2.main-title {
    font-size: 40px;
  }
}
/* end global rules */
/* loading animation */
.loading {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  background-color: var(--title-color);
}
.loading .circle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--bg-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation: drop-animation 1.5s linear 0.5s forwards;
  -webkit-animation: drop-animation 1.5s linear 0.5s forwards;
  opacity: 0;
}
@keyframes drop-animation {
  0% {
    width: 20px;
    height: 20px;
    opacity: 0;
  }
  15% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  50% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 3000px;
    height: 3000px;
    opacity: 1;
  }
}
.loading .logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  height: 50px;
  -webkit-transform: translate(-40%, -50%);
  -moz-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  -o-transform: translate(-40%, -50%);
  gap: 10px;
  display: none;
  animation: to-header 1s forwards linear;
  -webkit-animation: to-header 1s forwards linear;
  animation-delay: 2s;
}
@keyframes to-header {
  from {
    transform: translate(-40%, -50%) scale(1);
    -webkit-transform: translate(-40%, -50%) scale(1);
    -moz-transform: translate(-40%, -50%) scale(1);
    -ms-transform: translate(-40%, -50%) scale(1);
    -o-transform: translate(-40%, -50%) scale(1);
    left: 50%;
    top: 50%;
  }
  to {
    transform: translate(0, 0) scale(0.4);
    -webkit-transform: translate(0, 0) scale(0.4);
    -moz-transform: translate(0, 0) scale(0.4);
    -ms-transform: translate(0, 0) scale(0.4);
    -o-transform: translate(0, 0) scale(0.4);
    left: 2.5%;
    top: 0.5%;
  }
}
.loading .logo div {
  background-color: var(--title-color);
  width: 15px;
  height: 0;
}
.loading .logo div:nth-child(1) {
  animation: letter 0.2s linear forwards;
  -webkit-animation: letter 0.2s linear forwards;
  align-self: flex-end;
}
.loading .logo div:nth-child(2) {
  width: 13px;
  transform: skewX(30deg) translateX(-8px);
  -webkit-transform: skewX(30deg) translateX(-8px);
  -moz-transform: skewX(30deg) translateX(-8px);
  -ms-transform: skewX(30deg) translateX(-8px);
  -o-transform: skewX(30deg) translateX(-8px);
  animation: letter 0.2s linear forwards;
  -webkit-animation: letter 0.2s linear forwards;
  animation-delay: 0.3s;
  align-self: flex-start;
}
.loading .logo div:nth-child(3) {
  width: 13px;
  transform: skewX(-30deg) translateX(-1px);
  -webkit-transform: skewX(-30deg) translateX(-1px);
  -moz-transform: skewX(-30deg) translateX(-1px);
  -ms-transform: skewX(-30deg) translateX(-1px);
  -o-transform: skewX(-30deg) translateX(-1px);
  animation: letter 0.2s linear forwards;
  -webkit-animation: letter 0.2s linear forwards;
  animation-delay: 0.6s;
  align-self: flex-end;
}
.loading .logo div:nth-child(4) {
  background-color: var(--main-color);
  transform: translateX(-11px);
  -webkit-transform: translateX(-11px);
  -moz-transform: translateX(-11px);
  -ms-transform: translateX(-11px);
  -o-transform: translateX(-11px);
  animation: letter 0.2s linear forwards;
  -webkit-animation: letter 0.2s linear forwards;
  animation-delay: 0.9s;
  align-self: flex-start;
}
.loading .logo div:nth-child(5) {
  height: 30px;
  height: 0;
  background-color: var(--main-color);
  transform: skewX(-50deg) translateX(-18px);
  animation: half-letter 0.2s linear forwards;
  -webkit-animation: half-letter 0.2s linear forwards;
  animation-delay: 1.2s;
  -webkit-transform: skewX(-50deg) translateX(-18px);
  -moz-transform: skewX(-50deg) translateX(-18px);
  -ms-transform: skewX(-50deg) translateX(-18px);
  -o-transform: skewX(-50deg) translateX(-18px);
}
.loading .logo div:nth-child(6) {
  height: 30px;
  height: 0;
  background-color: var(--main-color);
  transform: skewX(50deg) translateX(-44px);
  animation: half-letter 0.2s linear forwards;
  -webkit-animation: half-letter 0.2s linear forwards;
  animation-delay: 1.2s;
  align-self: end;
}
@keyframes letter {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes half-letter {
  0% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
/* end loading animation */
/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 50px;
  width: 100%;
  z-index: 3;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
@media (max-width: 767px) {
  header {
    background-color: var(--bg-color);
  }
}
header .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
header .container .logo a img {
  width: 50px;
}
header .container .nav-icon {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 50%;
  justify-content: space-between;
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  opacity: 1;
}
header .container .nav-icon.animated {
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  opacity: 0;
}
header .container .nav-icon span {
  background-color: var(--text-color);
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
header .container .nav-icon span:nth-child(1).clicked {
  transform: rotate(45deg) translate(10px, 10px);
  -webkit-transform: rotate(45deg) translate(10px, 10px);
  -moz-transform: rotate(45deg) translate(10px, 10px);
  -ms-transform: rotate(45deg) translate(10px, 10px);
  -o-transform: rotate(45deg) translate(10px, 10px);
}
header .container .nav-icon span:nth-child(2).clicked {
  transform: rotate(-45deg) translate(-2px, 2px);
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  -moz-transform: rotate(-45deg) translate(-2px, 2px);
  -ms-transform: rotate(-45deg) translate(-2px, 2px);
  -o-transform: rotate(-45deg) translate(-2px, 2px);
}
header .container .nav-icon span:nth-child(3).clicked {
  opacity: 0;
}
header .container .nav-icon:hover span {
  background-color: var(--main-color);
}
nav {
  position: fixed;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100%;
  transition: 1s ease-in-out;
  transition-delay: 0.3s;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  z-index: 2;
}
nav.show {
  left: 0;
}
nav .container {
  height: 100%;
  position: relative;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
nav ul li {
  position: relative;
  color: var(--title-color);
}
@media (min-width: 767px) {
  nav ul li.dark-mode {
    display: none;
  }
}
nav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  background-color: var(--main-color);
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition-delay: 0.3s;
  background-color: var(--title-color);
}
nav ul li a {
  display: block;
  padding: 10px;
  color: white;
  font-weight: 300;
  font-size: 40px;
  transition: ease-in-out 0.3s;
  mix-blend-mode: difference;
}
nav ul li:hover::before,
nav ul li:hover::after {
  width: 100%;
}
@media (max-width: 767px) {
  nav ul li a {
    text-align: center;
  }
}
/* end header */
/* landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  height: 100vh;
}
.landing h1 {
  font-style: italic;
  font-size: 65px;
  font-weight: 300;
  margin: 25px 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  color: var(--title-color);
  letter-spacing: 1px;
}
.landing p {
  font-size: 45px;
  font-weight: 100;
  color: var(--text-color);
  margin: 0;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  opacity: 1;
}
.landing p.animated,
.landing h1.animated {
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 45px;
  }
}
@media (max-width: 575px) {
  .landing h1 {
    font-size: 30px;
  }
  .landing p {
    font-size: 30px;
  }
}
/* end landing */
/* about */
.about {
  background-color: var(--bg-color);
  padding: var(--section-padding) 0;
  color: var(--text-color);
}
p.quto {
  color: var(--title-color);
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
  margin: 50px 0;
  text-transform: uppercase;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-style: italic;
  letter-spacing: 3px;
}
p.quto:hover {
  color: var(--main-color);
}
p.quto svg {
  color: var(--main-color);
  width: 15px;
}
.about .container .content {
  display: grid;
  grid-template-columns: 60% auto;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.about .container .content .text {
  margin-left: 70px;
}
.about .container .content .image {
  position: relative;
  margin-right: 70px;
}
@media (max-width: 767px) {
  .about .container .content {
    grid-template-columns: none;
    align-items: center;
  }
  .about .container .content .image {
    margin: 0 100px;
  }
  .about .container .content .text {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .about .container .content .image {
    margin: 0 50px;
  }
}
.about .container .content .image::before {
  content: "";
  position: absolute;
  border: 3px solid var(--text-color);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  bottom: -20px;
  right: -20px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.about .container .content .image img {
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
  z-index: 1;
  filter: grayscale(100);
  -webkit-filter: grayscale(100);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.about .container .content .image:hover::before {
  transform: translate(-10px, -10px);
  -webkit-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
  border-color: var(--main-color);
}
.about .container .content .image:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
.about .container .content .text p {
  line-height: 30px;
  font-size: 18px;
  margin: 5px 0;
}
.about .container .content .text p span {
  color: var(--main-color);
}
.about .container .content .text h3 {
  margin: 10px 0;
  font-weight: 400;
}
.about .container .content .text .skills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 50px;
}
.about .container .content .text .skills ul {
  margin: 0;
}
.about .container .content .text .skills ul li {
  padding: 5px 0;
}
.about .container .content .text .skills ul li svg {
  color: var(--main-color);
  margin-right: 10px;
}
.about .container .content .text .resume {
  margin: 30px 0;
  display: flex;
  gap: 30px;
}
@media (max-width: 767px) {
  .about .container .content .text .resume {
    justify-content: center;
  }
}
.about .container .content .text .resume button {
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
  border: 1px solid var(--text-color);
}
.about .container .content .text .resume a {
  color: #9e9e9e;
  display: block;
  padding: 10px 20px;
  text-align: center;
  mix-blend-mode: difference;
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: relative;
  z-index: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 15px;
}
.about .container .content .text .resume a svg {
  margin-left: 3px;
}
.about .container .content .text .resume button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.about .container .content .text .resume button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--title-color);
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition-delay: 0.2s;
}
.about .container .content .text .resume button:hover a {
  color: white;
  border-color: white;
}
.about .container .content .text .resume button:hover::before,
.about .container .content .text .resume button:hover::after {
  width: 100%;
}
/* end about */
/* projects */
.projects {
  padding: var(--section-padding) 0;
  background-color: var(--bg-color);
}
.projects ul.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.projects ul.filter li {
  color: var(--title-color);
  border: 1px solid var(--text-color);
  text-align: center;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-weight: 300;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.projects ul.filter li.active,
.projects ul.filter li:hover {
  background-color: var(--main-color);
  color: white;
}
.projects .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin: 0 70px;
  gap: 30px;
  margin-top: 70px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
@media (max-width: 767px) {
  .projects .content {
    margin: 0;
    margin-top: 70px;
  }
}
.projects .content .box {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  background-color: var(--box-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 1px var(--box-shadow);
}
.projects .content .box.hide {
  display: none;
}
.projects .content .box:hover {
  transform: translateY(-15px);
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  -o-transform: translateY(-15px);
}
.projects .content .box .image {
  height: 150px;
  position: relative;
  background-color: var(--box-color);
  overflow: hidden;
}
.projects .content .box .image img {
  height: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.projects .content .box h4 {
  color: var(--main-color);
  margin: 15px 0;
  transition: var(--transition);
  padding: 0 15px;
  font-weight: 400;
}
.projects .content .box h4 svg {
  font-size: 25px;
  margin-right: 10px;
}
.box-body p {
  padding: 0 15px;
  font-size: 13px;
  word-spacing: 2px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 15px;
  color: var(--text-color);
}
.box-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  position: relative;
  margin-top: auto;
}
.box-footer::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: var(--text-color);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.box-footer p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 6px;
  margin: 0;
  color: var(--main-color);
}
.box-footer .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 14px;
}
.box-footer .links a {
  color: var(--title-color);
  font-size: 17px;
  transition: var(--transition);
}
.box-footer .links a:hover {
  color: var(--main-color);
}
/* end projects */
/* contact */
.social {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  opacity: 1;
}
.social.animated {
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  opacity: 0;
}
@media (max-width: 767px) {
  .social {
    display: none;
  }
}
.social svg {
  color: var(--text-color);
  font-size: 17px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.social svg:hover {
  color: var(--main-color);
}
.social::after {
  content: "";
  width: 1px;
  height: 75px;
  background-color: var(--text-color);
  position: absolute;
  bottom: -100px;
}
.contact {
  background-color: var(--bg-color);
  padding: var(--section-padding) 0;
  text-align: center;
}
.contact .container p {
  color: var(--text-color);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin: 30px 0;
}
.contact .container button {
  position: relative;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  overflow: hidden;
  border: 1px solid var(--text-color);
}
.contact .container button a {
  color: white;
  display: block;
  padding: 10px 20px;
  text-align: center;
  mix-blend-mode: difference;
  position: relative;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  position: relative;
  z-index: 1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 20px;
}
.contact .container button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.contact .container button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: var(--title-color);
  left: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition-delay: 0.2s;
}
.contact .container button:hover a {
  color: white;
  border-color: white;
}
.contact .container button:hover::before,
.contact .container button:hover::after {
  width: 100%;
}
/* end social */
/* footer */
footer {
  padding: 20px 0;
  text-align: center;
  background-color: var(--bg-color);
}
footer .social-footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  footer .social-footer {
    display: none;
  }
}
footer .social-footer a svg {
  color: var(--text-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-size: 25px;
}
footer .social-footer a:hover svg {
  color: var(--main-color);
}
footer p {
  color: var(--text-color);
  letter-spacing: 1px;
}
footer p span {
  color: var(--main-color);
}
/* end footer */
/* dark mode button */
button#dark-mode {
  position: fixed;
  right: 0;
  bottom: 50%;
  margin-right: 30px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  opacity: 1;
}
button#dark-mode.animated {
  opacity: 0;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
}
@media (max-width: 767px) {
  button#dark-mode {
    display: none;
  }
}
button#dark-mode::after {
  content: "";
  width: 1px;
  height: 1000px;
  background-color: var(--text-color);
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  pointer-events: none;
}
button#dark-mode svg {
  color: var(--text-color);
  font-size: 17px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
button#dark-mode svg:hover {
  color: var(--main-color);
}
