/* start global rules */
@font-face {
  font-family: Valencia;
  src: url(../Valencia\ 400.ttf);
}
:root {
  --bg-color: #202020;
  --main-color: #0c63a7;
  --text-color: #9e9e9e;
  --title-color: white;
  --section-padding: 150px;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 200px;
}
ul {
  list-style: none;
  padding-left: 0;
}
a {
  text-decoration: none;
}
button {
  border: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.hidden {
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
h2.main-title {
  text-align: center;
  letter-spacing: 4px;
  font-size: 60px;
  margin: 0;
  font-weight: 100;
  position: relative;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  color: var(--title-color);
}
@media (max-width: 767px) {
  h2.main-title {
    font-size: 50px;
  }
}
@media (max-width: 575px) {
  h2.main-title {
    font-size: 40px;
  }
}
/* end global rules */
/* loading animation */
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  background-color: white;
}
.loading .circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  animation: drop-animation 2s linear 0.3s;
  -webkit-animation: drop-animation 2s linear 0.3s;
}
@keyframes drop-animation {
  0% {
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  10% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  30% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  40% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  60% {
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  70% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  99% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}
.loading .circle .logo {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-40%, -50%);
  height: 50px;
  -webkit-transform: translate(-40%, -50%);
  -moz-transform: translate(-40%, -50%);
  -ms-transform: translate(-40%, -50%);
  -o-transform: translate(-40%, -50%);
  gap: 10px;
  display: none;
  animation: to-header 1s forwards linear;
  -webkit-animation: to-header 1s forwards linear;
  animation-delay: 3s;
}
@keyframes to-header {
  from {
    transform: translate(-40%, -50%) scale(1);
    -webkit-transform: translate(-40%, -50%) scale(1);
    -moz-transform: translate(-40%, -50%) scale(1);
    -ms-transform: translate(-40%, -50%) scale(1);
    -o-transform: translate(-40%, -50%) scale(1);
    left: 50%;
    top: 50%;
  }
  to {
    transform: translate(0, 0) scale(0.4);
    -webkit-transform: translate(0, 0) scale(0.4);
    -moz-transform: translate(0, 0) scale(0.4);
    -ms-transform: translate(0, 0) scale(0.4);
    -o-transform: translate(0, 0) scale(0.4);
    left: 3.5%;
    top: 0.5%;
  }
}
.loading .circle .logo div {
  background-color: var(--text-color);
  width: 15px;
  height: 0;
}
.loading .circle .logo div:nth-child(1) {
  animation: letter 0.2s linear forwards;
  -webkit-animation: letter 0.2s linear forwards;
  animation-delay: 0.5s;
  align-self: flex-end;
}
.loading .circle .logo div:nth-child(2) {
  width: 13px;
  transform: skewX(30deg) translateX(-8px);
  -webkit-transform: skewX(30deg) translateX(-8px);
  -moz-transform: skewX(30deg) translateX(-8px);
  -ms-transform: skewX(30deg) translateX(-8px);
  -o-transform: skewX(30deg) translateX(-8px);
  animation: letter 0.3s linear forwards;
  -webkit-animation: letter 0.3s linear forwards;
  animation-delay: 0.8s;
  align-self: flex-start;
}
.loading .circle .logo div:nth-child(3) {
  width: 13px;
  transform: skewX(-30deg) translateX(-1px);
  -webkit-transform: skewX(-30deg) translateX(-1px);
  -moz-transform: skewX(-30deg) translateX(-1px);
  -ms-transform: skewX(-30deg) translateX(-1px);
  -o-transform: skewX(-30deg) translateX(-1px);
  animation: letter 0.3s linear forwards;
  -webkit-animation: letter 0.3s linear forwards;
  animation-delay: 1.1s;
  align-self: flex-end;
}
.loading .circle .logo div:nth-child(4) {
  background-color: var(--main-color);
  transform: translateX(-11px);
  -webkit-transform: translateX(-11px);
  -moz-transform: translateX(-11px);
  -ms-transform: translateX(-11px);
  -o-transform: translateX(-11px);
  animation: letter 0.3s linear forwards;
  -webkit-animation: letter 0.3s linear forwards;
  animation-delay: 1.4s;
  align-self: flex-start;
}
.loading .circle .logo div:nth-child(5) {
  height: 30px;
  height: 0;
  background-color: var(--main-color);
  transform: skewX(-50deg) translateX(-18px);
  animation: half-letter 0.3s linear forwards;
  -webkit-animation: half-letter 0.3s linear forwards;
  animation-delay: 1.7s;
  -webkit-transform: skewX(-50deg) translateX(-18px);
  -moz-transform: skewX(-50deg) translateX(-18px);
  -ms-transform: skewX(-50deg) translateX(-18px);
  -o-transform: skewX(-50deg) translateX(-18px);
}
.loading .circle .logo div:nth-child(6) {
  height: 30px;
  height: 0;
  background-color: var(--main-color);
  transform: skewX(50deg) translateX(-44px);
  animation: half-letter 0.3s linear forwards;
  -webkit-animation: half-letter 0.3s linear forwards;
  animation-delay: 1.7s;
  align-self: end;
}
@keyframes letter {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
@keyframes half-letter {
  0% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
/* end loading animation */
/* header */
header {
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 50px;
  width: 100%;
  z-index: 3;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
@media (max-width: 767px) {
  header {
    background-color: var(--bg-color);
  }
}
header .container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
header .container .logo a img {
  width: 50px;
}
header .container .nav-icon {
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 50%;
  justify-content: space-between;
  cursor: pointer;
}
header .container .nav-icon span {
  background-color: var(--text-color);
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}
header .container .nav-icon span:nth-child(1).clicked {
  transform: rotate(45deg) translate(10px, 10px);
  -webkit-transform: rotate(45deg) translate(10px, 10px);
  -moz-transform: rotate(45deg) translate(10px, 10px);
  -ms-transform: rotate(45deg) translate(10px, 10px);
  -o-transform: rotate(45deg) translate(10px, 10px);
}
header .container .nav-icon span:nth-child(2).clicked {
  transform: rotate(-45deg) translate(-2px, 2px);
  -webkit-transform: rotate(-45deg) translate(-2px, 2px);
  -moz-transform: rotate(-45deg) translate(-2px, 2px);
  -ms-transform: rotate(-45deg) translate(-2px, 2px);
  -o-transform: rotate(-45deg) translate(-2px, 2px);
}
header .container .nav-icon span:nth-child(3).clicked {
  opacity: 0;
}
header .container .nav-icon:hover span {
  background-color: var(--main-color);
}
nav {
  position: fixed;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 100%;
  transition: 1s ease-in-out;
  transition-delay: 0.3s;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  z-index: 2;
}
nav.show {
  left: 0;
}
nav .container {
  height: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
nav ul li {
  position: relative;
}
nav ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  background-color: var(--main-color);
}
nav ul li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition-delay: 0.3s;
  background-color: white;
}
nav ul li a {
  display: block;
  padding: 10px;
  color: var(--title-color);
  font-weight: 300;
  font-size: 40px;
  transition: ease-in-out 0.3s;
  mix-blend-mode: difference;
}
nav ul li:hover::before,
nav ul li:hover::after {
  width: 100%;
}
@media (max-width: 767px) {
  nav ul li a {
    text-align: center;
  }
}
/* end header */
/* landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-color);
  height: 100vh;
}
.landing h1 {
  font-family: Valencia;
  font-size: 100px;
  font-weight: lighter;
  margin: 25px 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.landing p {
  font-size: 50px;
  font-weight: 100;
  color: var(--text-color);
  margin: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.landing p.hidden,
.landing h1.hidden {
  opacity: 0;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 70px;
  }
}
@media (max-width: 575px) {
  .landing h1 {
    font-size: 45px;
  }
  .landing p {
    font-size: 30px;
  }
}
/* end landing */
/* about */
.about {
  background-color: var(--bg-color);
  padding: var(--section-padding) 0;
  color: var(--text-color);
}
.about .container p.quto {
  color: var(--title-color);
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 5px;
  justify-content: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.about .container p.quto:hover {
  color: var(--main-color);
}
.about .container p.quto svg {
  color: var(--main-color);
  width: 15px;
}
.about .container .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 0 60px;
}
@media (max-width: 767px) {
  .about .container .content {
    flex-direction: column;
    padding: 0;
  }
}
.about .container .content .image {
  flex-grow: 1;
  margin: 0 50px;
  position: relative;
}
@media (max-width: 991px) {
  .about .container .content .image {
    margin: 0;
  }
}
.about .container .content .image::before {
  content: "";
  position: absolute;
  border: 3px solid var(--main-color);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  bottom: -20px;
  right: -20px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.about .container .content .image img {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  z-index: 1;
}
.about .container .content .image .blue {
  background-color: #0c63a78c;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.about .container .content .image:hover .blue {
  background-color: transparent;
}
.about .container .content .image:hover::before {
  transform: translate(-10px, -10px);
  -webkit-transform: translate(-10px, -10px);
  -moz-transform: translate(-10px, -10px);
  -ms-transform: translate(-10px, -10px);
  -o-transform: translate(-10px, -10px);
}
.about .container .content .text p {
  line-height: 30px;
  font-size: 18px;
  margin: 5px 0;
}
.about .container .content .text p span {
  color: var(--main-color);
}
/* end about */
